In [1]:
import pandas as pd
dataset=pd.read_csv("CKD.csv")

In [2]:
dataset=pd.get_dummies(dataset,drop_first=True)
indep=dataset.iloc[:,0:27]
dep=dataset['classification_yes']

In [3]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
pd.set_option('display.max_columns', None)
indep

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597,0,1,0,0,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,34.000000,12300.000000,4.705597,0,1,0,0,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,34.000000,8408.191126,4.705597,0,0,0,0,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,38.868902,8408.191126,4.705597,0,0,1,0,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,36.000000,12400.000000,4.705597,0,1,0,0,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,37.000000,9800.000000,4.400000,0,0,0,0,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,27.000000,8408.191126,4.705597,0,1,0,0,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,26.000000,9200.000000,3.400000,0,1,0,0,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,38.868902,8408.191126,4.705597,0,0,0,0,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,53.000000,8500.000000,4.900000,0,0,0,0,1,1,0,0,0,0,0,1,0,0

In [5]:
dataset['classification_yes'].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_= sc.fit_transform(X_train)
X_test_= sc.transform(X_test)

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 

grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 

grid.fit(X_train, y_train) 
grid_predictions=grid.predict(X_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

In [8]:
print(cm)
print(clf_report)

[[51  0]
 [ 6 76]]
              precision    recall  f1-score   support

           0       0.89      1.00      0.94        51
           1       1.00      0.93      0.96        82

    accuracy                           0.95       133
   macro avg       0.95      0.96      0.95       133
weighted avg       0.96      0.95      0.96       133

In [9]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,grid_predictions)
print(score)

0.9548872180451128

In [10]:
from sklearn.metrics import f1_score
f1=f1_score(y_test, grid_predictions, average='macro')
print(f1)

0.9532348804500703

In [11]:
from sklearn.metrics import roc_auc_score
re=roc_auc_score(y_test, grid.predict_proba(X_test)[:, 1])
print(re)

0.9634146341463414

In [18]:
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015602,0.005713,0.008798,0.001166,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.963284,0.962264,0.962573,0.943093,0.962264,0.958696,0.007810,5
1,0.012600,0.004270,0.008598,0.000489,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.963284,0.943041,0.925524,0.962264,1.000000,0.958823,0.024840,4
2,0.007800,0.001326,0.007601,0.000489,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.945100,0.906166,0.925524,0.962573,0.924528,0.932778,0.019331,10
3,0.007600,0.000800,0.007201,0.000749,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.981569,0.943699,0.962573,0.962264,1.000000,0.970021,0.019186,1
4,0.007999,0.001094,0.007202,0.000748,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.926567,0.923510,0.962573,0.981217,0.923652,0.943504,0.023944,8
5,0.006997,0.001094,0.008201,0.002038,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.871901,0.942166,0.981217,0.981031,0.885478,0.932359,0.046271,11
6,0.010798,0.002483,0.009601,0.001854,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.963284,0.942166,0.924528,0.943093,0.943093,0.943233,0.012272,9
7,0.008598,0.001625,0.008600,0.001020,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.981569,0.943041,0.925524,0.961826,0.981217,0.958636,0.021843,6
8,0.006801,0.000401,0.007400,0.000490,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.945100,0.981014,0.944023,0.925146,0.961826,0.951422,0.018810,7
9,0.007805,0.001169,0.008401,0.001353,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.963284,0.961755,0.981217,0.962573,0.944023,0.962570,0.011772,3
10,0.008201,0.001602,0.007599,0.001020,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.908877,0.906935,0.907035,0.905155,1.000000,0.925600,0.037218,12
11,0.007202,0.000750,0.006599,0.001623,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.962963,0.924528,0.981217,0.962264,1.000000,0.966194,0.025022,2

In [15]:
# #age	bp	al	su	bgr	bu	sc	sod	pot	hrmo	pc_normal	pcc_present	ba_present	htn_yes	dm_yes	cad_yes	appet_yes	pe_yes	ane_yes
#age	bp	al	su	bgr	bu	sc	sod	pot	hrmo	pcv	wc	rc	sg_b	sg_c	sg_d	sg_e	rbc_normal	pc_normal	pcc_present	ba_present	htn_yes	dm_yes	cad_yes	appet_yes	pe_yes	ane_yes
age=float(input("age"))
bp=float(input("bp"))
al=int(input("al"))
su=int(input("su"))
bgr=float(input("bgr"))
bu=float(input("bu"))
sc=float(input("sc"))
sod=float(input("sod"))
pot=float(input("pot"))
hrmo=float(input("hrmo"))
pcv=float(input("pcv"))
wc=float(input("wc"))
rc=float(input("rc"))
sg_b=float(input("sg_b"))
sg_c=float(input("sg_c"))
sg_d=float(input("sg_d"))
sg_e=float(input("sg_e"))
rbc_normal=int(input("enter 0 or 1"))
pc_normal=int(input("enter 0 or 1"))
pcc_present=int(input("enter 0 or 1"))
ba_present=int(input("enter 0 or 1"))
htn_yes=int(input("enter 0 or 1"))
dm_yes=int(input("enter 0 or 1"))
cad_yes=int(input("enter 0 or 1"))
appet_yes=int(input("enter 0 or 1"))
pe_yes=int(input("enter 0 or 1"))
ane_yes=int(input("enter 0 or 1"))

age89
bp4
al45
su1
bgr323
bu53
sc34
sod23
pot54
hrmo65
pcv23
wc76
rc56
sg_b0
sg_c0
sg_d0
sg_e1
enter 0 or 11
enter 0 or 11
enter 0 or 11
enter 0 or 11
enter 0 or 11
enter 0 or 11
enter 0 or 11
enter 0 or 11
enter 0 or 11
enter 0 or 11

In [16]:
futurepredict=grid.predict([[age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,
pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes]])
print("futurepredict={}",format(futurepredict))

futurepredict={} [1]

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(